<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppaRent"
        tools:targetApi="34">

        <activity
            android:name=".apartment6"
            android:exported="false" />
        <activity
            android:name=".EightActivity"
            android:exported="false" />
        <activity
            android:name=".apartment5"
            android:exported="false" />
        <activity
            android:name=".SeventhActivity"
            android:exported="false" />
        <activity
            android:name=".apartment4"
            android:exported="false" />
        <activity
            android:name=".SixthActivity"
            android:exported="false" />
        <activity
            android:name=".FifthActivity"
            android:exported="false" />
        <activity
            android:name=".apartment3"
            android:exported="false" />
        <activity
            android:name=".apartment2"
            android:exported="false" />
        <activity
            android:name=".FourthActivity"
            android:exported="false" />
        <activity
            android:name=".apartment1"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ExperimentViewScroll"
            android:exported="false"/>
        <activity
            android:name=".AddApartmentView"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>